<div class="sidebar-menu">
    <div class="menu">
        <ul id="menu">
            <li id="menu-home">
                <a href="@Url.Action("Index", "AdminHome")">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <li id="menu-home">
                <a href="@Url.Action("Index", "AdminArea")"><i class="fa fa-tag"></i><span>Quản lý khu vực</span></a>
            </li>

            <li id="menu-home">
                <a href="@Url.Action("Index", "AdminCity")"><i class="fa fa-tag"></i><span>Quản lý tỉnh thành phố</span></a>
            </li>

            <li id="menu-home">
                <a href="@Url.Action("Index", "AdminCategory")"><i class="fa fa-tag"></i><span>Quản lý loại hình DL</span></a>
            </li>

            <li id="menu-home">
                <a href="@Url.Action("Index", "AdminPost")"><i class="fa fa-tag"></i><span>Quản lý bài viết</span></a>
            </li>

            <li id="menu-home">
                <a href="@Url.Action("Index", "Member")"><i class="fa fa-users"></i><span>test 1</span></a>
                <ul id="menu-academico-sub">
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index", "CategoryMember")">Test 1 1</a></li>
                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index", "MemberStatus")">test 1 2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
