@model List<SEO_WEB.Models.Post>

@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

    var areas = ViewBag.areas as List<SEO_WEB.Models.Area>;
    var postViewTop = ViewBag.postViewTop as List<SEO_WEB.Models.Post>;
    var cities = ViewBag.cities as List<SEO_WEB.Models.City>;
    var categories = ViewBag.categories as List<SEO_WEB.Models.Category>;
    var home = ViewBag.home as SEO_WEB.Models.Home;


    var i = 0;
    ViewBag.Title = home.Title;
}

@section meta{
    @Html.Partial("~/Views/Shared/_ClientMetasPartial.cshtml", home.Metas == null ? "" : home.Metas)
}



@section slide{
    @Html.Action("BackgroundPartial", "ClientHome")
}


<main class="wide space-y-20">
    <!-- top blog -->
    <section class="top-blogs text-gray-600 body-font">
        <div class="my-4 mx-auto">
            <div class="w-full mb-6">
                <h3 class="sm:text-2xl text-2xl font-medium mb-2 text-gray-900">Bài viết nổi bật trong tuần</h3>
                <div class="h-1 w-20 bg-lightBlue-700 rounded"></div>
            </div>

            <div class="blogs-container flex flex-wrap gap-8">
                @foreach (var item in Model)
                {
                    var ci = cities.FirstOrDefault(c => c.ID == item.CityID).Alias;
                    var ca = categories.FirstOrDefault(c => c.ID == item.CategoryID).Alias;

                <a href="/@ci/@ca/@item.Alias-@item.ID">
                    <div class="blog-card">
                        <div class="bg-white">
                            <!-- 720x400 -->
                            <img class="h-40 w-full object-cover object-center"
                                 src="~/Assets/Admin/images/post/@item.Avatar"
                                 alt="@item.Alt" />
                            <div class="px-4 py-2">
                                <h5 class="text-lg text-gray-900 font-medium mb-2">@item.DisplayName</h5>
                                <p class="leading-relaxed text-base">@item.Description</p>
                            </div>
                        </div>
                    </div>
                </a>
                }
                
            </div>
        </div>
    </section>

    <!-- location -->
    <section class="text-gray-600 body-font">
        <div class="mx-auto">
            <div class="flex flex-col text-center w-full mb-10">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Điểm đến nổi bật</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Khám phá điểm đến tiếp theo cho hành trình tuyệt vời của bạn</p>
                <div class="flex justify-center space-x-4 my-4">
                    @foreach (var item in areas)
                    {
                        if (i++ == 0)
                        {
                            <button class="tab-btn btn btn-outline active btn-area" data-areaid="@item.ID">@item.DisplayName</button>
                        }
                        else
                        {
                            <button class="tab-btn btn btn-outline btn-area" data-areaid="@item.ID">@item.DisplayName</button>
                        }
                    }

                </div>
            </div>
            <div id="result-data"></div>
        </div>
    </section>
    <!-- end location -->
    <!-- quote -->
    <section class="text-gray-600 body-font">
        <div class="mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <i class="fas fa-quote-right text-2xl"></i>
                <p class="leading-relaxed text-lg">
                    Hai mươi năm về sau bạn sẽ hối hận về những gì bạn không làm hơn là những gì bạn làm. Vậy nên hãy tháo dây, nhổ neo ra khỏi bến đỗ an
                    toàn. Hãy để cánh buồn của bạn đón trọn lấy gió, thám hiểm, mơ mộng, khám phá.
                </p>
                <span class="inline-block h-1 w-10 rounded bg-lightBlue-600 mt-8 mb-6"></span>
            </div>
        </div>
    </section>
    <!-- end quote -->
    <!-- journey -->
    <section class="journey text-gray-600 body-font">
        <div class="flex flex-wrap justify-between items-center w-full mb-6">
            <div>
                <h3 class="sm:text-2xl text-2xl font-medium title-font mb-2 text-gray-900">Địa điểm nên ghé thăm</h3>
                <div class="h-1 w-20 bg-lightBlue-700 rounded"></div>
            </div>

            @*<div>
                <p class="text-sm font-bold uppercase cursor-pointer hover:text-lightBlue-600">
                    <a href="#">Xem thêm</a> <i class="fas fa-angle-right text-base"></i>
                </p>
            </div>*@
        </div>
        <div class="intes-container">
            @foreach (var item in postViewTop)
            {
                var ci = cities.FirstOrDefault(c => c.ID == item.CityID).Alias;
                var ca = categories.FirstOrDefault(c => c.ID == item.CategoryID).Alias;
                <div class="intes-card cursor-pointer">
                    <a href="/@ci/@ca/@item.Alias-@item.ID">
                        <div class="flex relative h-full">
                            <!-- 600x360 -->
                            <img alt="@item.Alt" class="intes-card__image" src="~/Assets/Admin/images/post/@item.Avatar">
                            <div class="intes-card__main">
                                <h5 class="intes-card__title">@item.DisplayName</h5>
                                <p class="intes-card__content">
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    </section>
    <!-- end jourey -->
</main>



@section script{
    <script>
        var obj = {
            init: function () {
                this.load();
                this.clickButtonArea();
            },
            load: function () {
                // lấy ra từ first
                this.loadAjaxByArea(1);
            },
            clickButtonArea: function () {
                $('body').on('click', '.btn-area', function () {
                    var btns = $('.btn-area');
                    let areaID = $(this).data('areaid');

                    btns.removeClass('active');
                    $(this).addClass('active');

                    obj.loadAjaxByArea(areaID);
                })
            },
            loadAjaxByArea: function (areaID) {
                $.ajax({
                    url: "/ClientHome/GetCitiesByAreaIDPartial/",
                    data: { areaID: areaID },
                    type: "GET",
                    success: function (response) {
                        if (response) {
                            $("#result-data").empty();
                            $("#result-data").prepend(response);
                        }
                    }
                })
            }
        }

        obj.init();
    </script>

    <script>
        const objHead = {
            init: function () {
                $('.btn-head-tab').removeClass('active');
                $('.btn-home').addClass('active');
            }
        }

        objHead.init();
    </script>
    <script src="~/Assets/Client/js/index.js"></script>
}
